##############################
## Folders                  ##
##############################
target
.idea


##############################
## Netbeans conf            ##
##############################
